@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.written-text {
  padding: 40px;
}


.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-brand > img{
  width: 150px;
  padding: 15px;
}

.nav-item-group {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  padding: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  color: gray;
}