.course {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(251, 229, 131) !important;
    color: inherit;
  }

button.accordion-button:focus{
    box-shadow: inherit;
}